<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<div class="row">
			<div class="col-md-6">
				<figure>
					<embed type="image/svg+xml" src="/barchart/" />
				</figure>
			</div>
			<div class="col-md-6">
				<figure>
					<embed type="image/svg+xml" src="/piechart/" />
				</figure>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<figure>
					<embed type="image/svg+xml" src="/linechart/" />
				</figure>
			</div>
			<div class="col-md-6">
				<figure>
					<embed type="image/svg+xml" src="/scatterplot/" />
				</figure>
			</div>
		</div>
		<div class="row">
			<figure>
				<embed type="image/svg+xml" src="/countrymap/" />
			</figure>
		</div>
	</body>
</html>
